/******* Patrick's Section  ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color:  #121212;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 500;
  font-size: 2em;
  text-decoration: none;
  color: #FF1515;
}

header {
  background: linear-gradient(90deg,
      #000,
      #FF1515);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 4px -2px black;
}

li {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.container {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 750px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: right;
  text-align: center;
  flex-direction: column;
  min-height: 100px;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
  margin-bottom: 100px;
}

.login_container {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 750px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 300px;
}
.create-container {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 750px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 300px;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.btn {
  margin: 5px;
  padding: 5px 30px;
  border-radius: 2em;
  border: solid  #FF1515;
  background-color: #fff;
}

.btn:hover {
  transition: all 0.3s ease 0s;
  background: #19bb3f;
}

.delete-btn {
  padding: 10px 30px;
  border-radius: 2em;
  border: solid #fff;
}


.delete-btn:hover {
  transition: all 0.3s ease 0s;
  background: #f64f59;
}
